.sezon {
    float: left;
    height: 90px;
    line-height: 300%;
    width: 300px;
    background-color: rgba(0, 0, 0, 30%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    margin-top: 25px;
}

.sezon a {
    width: 300px;
    height: 90px;
}


.zdjecie {
    float: left;
    margin: 10px;
    cursor: pointer;
}

#podglad {
    width: 940px;
    margin: auto;
    margin-top: 30px;
}

#glowne_zdjecie {
    float: left;
    position: relative;
    max-width: 940px;
    min-width: 300px;
    margin: auto;
}

#lewo,
#prawo {
    user-select: none;
    cursor: pointer;
    position: relative;
    float: left;
    text-align: center;
    height: 130px;
    width: 50px;
    font-size: 50px;
    line-height: 230%;
    background-color: rgba(0, 0, 0, 90%);
    float: left;
    margin-top: 170px;
    z-index: 5;
}

#lewo {
    margin-right: -50px;
}

#prawo {
    margin-left: -50px;
}
