#content {
    background-color: #121212;
}
#content .left-drawer, #content .center-drawer, #content .right-drawer {
    position: relative;
    padding: 15px 0;
    float: left;
    height: 100%;
}

.button {
    width: 80%;
    user-select: none;
    line-height: 40%;
    font-size: 6em;
    margin: auto;
    margin-top: 40px;
    background-color: #3333;
}

.button a {
    height: 99px;
}


.image {
    margin: 40px auto 20px;
    width: 175px;
    height: 99px;
    overflow: hidden;
    /* Jak wystaje to utnij dziada */
}


#informacje-content {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    font-size: 18px;
    max-height: 516px; /* dirty but works */
    overflow: hidden;
}

.info {
    text-align: center;
    padding-bottom: 25px;
    line-height: 110%;
}
