.sezon {
    float: left;
    height: 90px;
    line-height: 300%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;

}

/* ------------------ KONTENT ------------------ */
#content {
    padding: 0px;
    width: 1000px;
    overflow: hidden;
}

#content.wybierz {
    background-color: hsl(225, 9%, 9%);
    width: 960px;
    padding: 20px;
}

#head,
#runda-finalowa {
    padding: 5px 15px;
    padding-top: 15px;

}

/* WSPÓLNE CECHY 3 KOLUMN */
#grupa-pierwsza,
#grupa-druga {
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    padding-top: 10px;
    width: 500px;
}

/* ------------------ TABELA HARMONOGRAM I WYNIKI ------------------*/
.terminarz {
    font-weight: bold;
    text-align: center;
    width: 320px;
    margin: auto;
    margin-bottom: 15px;
    border: solid 0.5px rgba(0, 0, 0, 0.9);
}

.terminarz td {
    padding: 4px 0;
    border: solid 0.5px rgba(0, 0, 0, 0.9);
}

tr.termin {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

tr.wynik {
    background-color: rgba(0, 0, 0, 0.3);
}

.terminarz td {
    width: 33%;
}

td.wynik {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    letter-spacing: 2px;
}
