h1 {
    margin: .5em auto 1em;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

h2 {
    margin: .5em auto 1em;
    text-align: center;
    font-size: 1.5em;
}

.big {
    margin: 1em auto;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.2em;
}

.spacious {
    line-height: 1.2em;
    letter-spacing: 0.3px;
}

/*************************************/

html, body {
    height: 100%;
    font-family: 'Monda', sans-serif;
    background-image: url("../img/background.png");
    background-color: #242424;
    color: #fff;
}
#container {
    width: clamp(850px, 1000px, 95vw);
    min-height: 100%;
    margin: 0 auto;
}
#menu, #content, #footer {
    background-color: hsl(225, 4%, 4%);
}

#content {
    width: 96%;
    padding: 2%;
}
#content.fullish { /* full width img */
    width: 100%;
    padding: 0;
}
#content.fullish > img {
    width: 100%;
}

.error, .sukces, .warn {
    width: 100%;
    padding: 10px 0;
    font-size: 1.5em;
    /* text-align: center; */
}
.error { background-color: #ce2525; }
.sukces { background-color: #22C12D; }
.warn { background-color: #c3b622; }

.error:first-of-type::before {
    /* this doesn't work if there's another div before */
    font-size: 2em;
    content: 'Wystąpiły błędy:';
    padding: .5em;
    display: block;
}
.warn {
    letter-spacing: .13em;
}

/* WŁAŚCIWOŚCI FORMULARZY */
input, textarea, select {
    margin-bottom: 15px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 2px 0;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    resize: none;
}

input[type=submit] {
    padding: 0 40px;
}

input[type=file] {
    background-color: #fff;
    color: #000;
}

#menu {
    width: 100%;
    height: 180px;
    margin-top: 60px;
    font-weight: bold;
}

#menu {
    text-align: center;
}

#menu a {
    display: block;
    width: 100%;
    height: 100%;
}

#logo, #title, #options {
    height: 100%;
    float: left;
}

.left-drawer {
    width: 25%;
}
.center-drawer {
    width: 35%;
    background-color: hsl(225, 9%, 9%);
}
.right-drawer {
    width: 40%;
}

#logo {
    background-color: rgba(255, 255, 255, 20%);
}
#logo img {
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#title {
    font-size: 2.5em;
    line-height: 130%;
}


#options > div {
    float: left;
    height: 50%;
}

#facebook, #pik, #galeria {
    width: 33.33%;
}

#obecny-sezon, #wszystkie-sezony {
    width: 50%;
    font-size: 1.8em;
    line-height: 140%;
}

#facebook { background-color: hsl(221, 50%, 30%); }
#facebook a:hover { color: hsl(221, 100%, 30%); }

#pik { background-color: hsl(147, 50%, 30%); }
#pik a:hover { color: hsl(147, 100%, 30%); }

#galeria { background-color: hsl(30, 50%, 30%); }
#galeria a:hover { color: hsl(30, 100%, 30%); }

#content {
    margin-top: 40px;
}

/* ------------------ FOOTER ------------------ */

#footer {
    overflow: auto;
    width: 100%;
    height: 150px;
    margin-top: 40px;
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

#footer a {
    width: 100%;
}

#footer .left-drawer, #footer .center-drawer, #footer .right-drawer {
    padding: 15px 0 0;
    float: left;
    height: 120px;
}

#footer .left-drawer {
    overflow-y: auto;
}

#half-links a {
    height: 30px;
}


#whole-links a {
    height: 60px;
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.stylenone {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link a {
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color 0.20s linear 0s;
    transition: background-color 0.20s linear 0s;
}

.link a:hover {
    background-color: hsl(0, 0%, 75%);
    color: #000;
}

#powrot {
    text-align: left;
    font-size: 1.1em;
    margin-left: 10px;
    position: absolute;
}
#powrot a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.07s linear 0s;
    transition: color 0.07s linear 0s;
}
#powrot a:hover {
    color: #999;
}

ol.bigitems > li {
    font-size: 1.4em;
    margin-bottom: 1em;
    line-height: 110%;
}

ol.roman {
    padding-left: 6ch;
    list-style-type: upper-roman;
}

div.alpha {
    padding-left: 4ch;
    counter-reset: divalpha;
}
div.alpha > div {
    position: relative;
}
div.alpha > div:before {
    counter-increment: divalpha;
    content: counter(divalpha, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

.informacja-tytul {
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.15em;
    margin: auto;
    font-weight: bold;
}

.informacja-tresc {
    font-size: .95em;
}

.informacja-data {
    font-weight: bold   ;
    font-size: .9em;
    text-align: right;
}

.tabela-container {
    padding: 0 1em;
}

.tabela {
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: min(100%, 375px);
    margin-bottom: 30px;
    border: solid 0.5px rgba(0, 0, 0, 0.9);
}

.tabela th {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 0;
    border: solid 0.5px rgba(0, 0, 0, 0.9);
}

.tabela td {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 2px;
    border: solid 0.5px rgba(0, 0, 0, 0.9);
}
